<a href="https://colab.research.google.com/github/ChrisAchinga/OOP-2-Assignment-1/blob/master/Assignment_1_codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# def multiplyList(myList) : 
      
#     # Multiply elements one by one 
#     result = 1
#     for x in myList: 
#          result = result * x  
#     return result  
      
# # Driver code 
# list1 = [1, 2, 3]  
# list2 = [3, 2, 4] 
# print(multiplyList(list2)) 

# ussing numpy library

# Python3 program to multiply all values in the 
# list using numpy.prod() 
  
import numpy  
list1 = [1, 2, 3]  
list2 = [3, 2, 4] 
  
# using numpy.prod() to get the multiplications  
result1 = numpy.prod(list1) 
result2 = numpy.prod(list2) 
print(result1) 
print(result2)

6
24

In [0]:
stringer = "i am a good peron"
print(len(stringer))

In [0]:
studenDict = {
    "FirstName" : "Chris",
    "LastName" : "Achinga",
    "Reg_number" : "Bscit-01-060/2018",
    "PhoneNumber" : "0700123456",
}

print(studenDict)

{'FirstName': 'Chris', 'LastName': 'Achinga', 'Reg_number': 'Bscit-01-060/2018', 'PhoneNumber': '0700123456'}

In [0]:
inpt1 = int(input('enter base: '))
inpt2 = int(input('enter height: '))
inpt3 = int(input('enter hypotenus: '))


def get_area(base, height):
   return 0.5 * base * height

def get_per(base, height, hypo):
    return base + height + hypo

print("area of the triangle is: ")
print(get_area(inpt1, inpt2))
print()
print('the perimeter of the triangle is')
print(get_per(inpt1, inpt2, inpt3))

enter base: 23
enter height: 23
enter hypotenus: 22
area of the triangle is:
264.5

the perimeter of the triangle is
68

In [0]:
num = int(input("Enter a number: "))
mod = num % 2
if mod > 0:
    print("This is an odd number.")
else:
    print("This is an even number.")

Enter a number: 3
This is an odd number.